* {
    box-sizing: border-box;
  }

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}

.card {
    display: inline-flex;
    flex: 1 0 200px;
    padding: 10px;
    margin-top: 2%;
    text-align: center;
    border-style: dashed;
    border-width: 1px;
  }

@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }